
<%
// adds default data usign "theme/aircv/scripts/default-data.js" helper
let about = (site.data.about !== undefined) ? site.data.about : defaultData('about');
%>

<!-- About -->
<div id="about">
  <div class="container content-lg">
      <div class="row">
          <div class="col-sm-3 sm-margin-b-30">
              <div class="text-right sm-text-left">
                  <h2 class="margin-b-0"><%- about.title %></h2>
                  <p><img class="logo" src="/logos/Logo-novo2.jpg" width="170px" height=auto ></p>
              </div>
          </div>
          <div class="col-sm-8 col-sm-offset-1">
              <div class="margin-b-60">
                <%- about.description %>
              </div>


          </div>
      </div>
      <!--// end row -->
  </div>
</div>
<!-- End About -->
