/*------------------------------------------------------------------
  	[Footer]
------------------------------------------------------------------*/

.footer {
	.footer-logo {
		@include size(64px, auto);
	}
	p {
		font-size: 15px;
		margin-top: 1em;
	}
}
