/*------------------------------------------------------------------
  	[Service]
------------------------------------------------------------------*/

.service {
	background: $color-white;
	padding: 30px 30px 0;
	margin-bottom: 2em;

	.service-element,
	.service-info {
		@include translate3d(0,0,0);
		@include cubic-transition($delay: 0, $duration: 300ms, $property: (all));
		h3 {
			font-size: 1em;
		}
	}

	.service-icon {
		display: block;
		@include font($size: 30px);
		color: $color-link-hover;
		margin-bottom: 30px;
	}

	.service-button {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s, opacity 0.5s linear;
	}

	&:hover {
		.service-element {
			opacity: 0;
			@include translate3d(0,-100%,0);
			@include cubic-transition($delay: 0, $duration: 300ms, $property: (all));
		}

		.service-info {
			@include translate3d(0,-30%,0);
			@include cubic-transition($delay: 0, $duration: 300ms, $property: (all));
		}

		.service-button {
			visibility: visible;
  		opacity: 1;
		}
	}
}

@media (max-width: $screen-sm-max) {
	.service {
		.service-button {
			visibility: visible;
			opacity: 1;
		}
	}
}
