
<%
// adds default data usign "theme/aircv/scripts/default-data.js" helper
let castracao = (site.data.castracao !== undefined) ? site.data.castracao : defaultData('castracao');
%>


<!-- experience -->
<div id="castracao">
  <div class="bg-color-sky-light" data-auto-height="true">
      <div class="container content-lg">
          <div class="row">
              <div class="col-sm-3 sm-margin-b-30">
                  <div class="text-right sm-text-left">
                      <h2 class="margin-b-0"><%= castracao.title %></h2>
                      <p><%- castracao.subtitle %></p>
                  </div>
              </div>
              <div class="col-sm-8 col-sm-offset-1">
                  <div class="row row-space-2 margin-b-4">
                    <% castracao.items.forEach(item => { %>
                        <div class="col-md-4 md-margin-b-4">
                            <div class="service <% if(item.featured) { %> bg-color-base wow zoomIn <% } %>" data-height="height" <% if(item.featured) { %> data-wow-duration=".3" data-wow-delay=".1s" <% } %> >
                                <div class="service-element">
                                    <i class="service-icon <%= item.icon %>"></i>
                                </div>
                                <div class="service-info">
                                    <h3 <% if(item.featured) { %> class="color-white" <% } %> > <%- item.title %></h3>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                  <!--// end row -->
                      <p style="clear: both;"><%- castracao.intro %></p>
                      <p><img style="max-width:100%" src="<%- castracao.imagem %>"></p>
                      <p><%- castracao.motivos %></p>
                      <p>Em machos: <ol><%- castracao.machos %></ol></p>
                      <p>Em fêmeas: <ol><%- castracao.femeas %></ol></p>
                      <p><strong>FONTE:</strong> <%- castracao.fonte %></p>
                      <p><strong>Ainda têm dúvidas?</strong> <a href="/perguntas/">Conheça as perguntas e mitos mais comuns</a> quando o tema é castração de cães e gatos!</p>
                  </div>                  
              </div>
          </div>
          <!--// end row -->
      </div>
  </div>
</div>
<!-- End experience -->
