
<%
// adds default data usign "theme/aircv/scripts/default-data.js" helper
let comoajudar = (site.data.comoajudar !== undefined) ? site.data.comoajudar : defaultData('comoajudar');
%>


<!-- experience -->
<div id="comoajudar">
  <div class="bg-color-sky-light" data-auto-height="true">
      <div class="container content-lg">
          <div class="row">
              <div class="col-sm-3 sm-margin-b-30">
                  <div class="text-right sm-text-left">
                      <h2 class="margin-b-0"><%= comoajudar.title %></h2>
                  </div>
              </div>
              <div class="col-sm-8 col-sm-offset-1">
                  <div class="row row-space-2 margin-b-4">
                  <!--// end row -->
                  	  <h4>a revolução começa em casa</h4>
                      <p style="clear: both;"><%- comoajudar.text %></p>
                      <h4>apoio amigo</h4>
                      <p><%- comoajudar.apoioamigo %></p>
                      <p><img width="50%" height="auto" src="<%- comoajudar.caixinha %>"></p>
                      <p>Você também pode doar qualquer quantia ou programar uma contribuição recorrente diretamente em nossa conta bancária:</p>
                      	<div class="conta">
                      		<p><%- comoajudar.conta %></p>
                      		<p><img width="50%" height="auto" src="<%- comoajudar.qrcode %>"></p>
							<p>Ou copie e cole o seguinte código em seu banco:</p>
                      		<p><pre><%- comoajudar.codigo %></pre></p>
                      	</div>
                      <p><strong>Sua contribuição é revertida em:</strong></p>
                      <ul>
                      	<li>castrações;</li>
                      	<li>ações educativas;</li>
                      	<li>cuidados emergenciais e preventivos.</li>
                      </ul>
                      <p><img width="50%" height="auto" src="/fotos/20117059.jpg" /></p>
                      <p><%- comoajudar.sejavoluntario %></p>
                  </div>                  
              </div>
          </div>
          <!--// end row -->
      </div>
  </div>
</div>
<!-- End experience -->
