<!-- Back To Top -->
<a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

<!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- CORE PLUGINS -->
<script src="/vendor/jquery.min.js" type="text/javascript"></script>
<script src="/vendor/jquery-migrate.min.js" type="text/javascript"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<!-- PAGE LEVEL PLUGINS -->
<script src="/vendor/jquery.easing.js" type="text/javascript"></script>
<script src="/vendor/jquery.back-to-top.js" type="text/javascript"></script>
<script src="/vendor/jquery.wow.min.js" type="text/javascript"></script>
<script src="/vendor/jquery.parallax.min.js" type="text/javascript"></script>
<script src="/vendor/jquery.appear.js" type="text/javascript"></script>
<script src="/vendor/masonry/jquery.masonry.pkgd.min.js" type="text/javascript"></script>
<script src="/vendor/masonry/imagesloaded.pkgd.min.js" type="text/javascript"></script>

<!-- PAGE LEVEL SCRIPTS -->

<%# TODO: Aquí añadir los JS  desde  los archivos %>
<%- js(['/js/layout.js', '/js/components/progress-bar.js', '/js/components/masonry.js', '/js/components/wow.js']) %>
<%#
<script src="/js/layout.min.js" type="text/javascript"></script>
<script src="/js/components/progress-bar.min.js" type="text/javascript"></script>
<script src="/js/components/masonry.min.js" type="text/javascript"></script>
<script src="/js/components/wow.min.js" type="text/javascript"></script>
%>

<%- js('js/featherlight.js') %>
<%- js('js/featherlight.gallery.js') %>

<%- js('js/jquery.justifiedGallery.js') %>
<%- js('js/justifiedGallery.js') %>
<%- js('js/main.js') %>
