/*------------------------------------------------------------------
  	[The "base.scss" contains basic default element styles
  		(colors, typography, margins & padding).]
------------------------------------------------------------------*/

html {
    overflow-x: hidden;
}

html, html a, body {
    -webkit-font-smoothing: antialiased;
}

body {
    @include font($size: 18px, $weight: 400, $family: $font-family-base);
    position: relative;
    font-family: $font-family-base;
    color: $color-subtitle;
}

p {
    @include font($size: 18px, $weight: 400, $family: $font-family-base);
    color: $color-subtitle;
    line-height: 1.4;
    margin-bottom: 15px;
}

em,
li,
li a {
    @include font($size: 18px, $weight: 500, $family: $font-family-base);
    color: $color-subtitle;
}

a {
    @include font($family: $font-family-base);
    color: $color-link;
    outline: 0;

    &:focus,
    &:hover,
    &:active {
        outline: 0;
        color: $color-link-hover;
        text-decoration: none;
    }
}

.link {
    position: relative;
    @include font($size: 13px, $weight: 600, $family: $font-family-base);
    text-transform: uppercase;

    &:after {
        @include position(absolute, $top: 8px, $right: -15px);
        @include size(9px, 2px);
        background: $color-base;
        content: " ";
    }
}

span {
    @include font($size: 16px, $weight: 400, $family: $font-family-base);
    color: $color-subtitle;
}

h1, h2, h3, h4, h5, h6 {
    @include font($weight: 700, $family: $font-family-base);
    color: $color-heading;
    line-height: 1.4;
    margin: 0 0 15px;

    > a {
        color: $color-heading;

        &:hover {
            color: $color-link-hover;
            text-decoration: none;
        }

        &:focus {
            text-decoration: none;
        }
    }
}

h1 { @include font($size: 40px); }
h2 { @include font($size: 30px); }
h3 { @include font($size: 22px); }
h4 { @include font($size: 22px); }
h3 {
	margin-top: 2em;
}

::selection {
    color: $color-white;
    background: $color-base;
    text-shadow: none;
}
::-webkit-selection {
    color: $color-white;
    background: $color-base;
    text-shadow: none;
}
::-moz-selection {
    color: $color-white;
    background: $color-base;
    text-shadow: none;
}

:active,
:focus {
    outline: none;
}

/* Section Seperator */
.section-seperator {
    border-bottom: 1px solid #edf0f2;
}

/* Content Wrapper Link */
.content-wrapper-link {
    @include position(absolute, $top: 0, $left: 0, $right: 0, $bottom: 0);
    display: block;
    z-index: 3;
    text-decoration: none;
}

.video-container{
    width: 100%;
    text-align: center;
    iframe {
        min-width: 80%;
        height: calc(100vw * 9/16 - 20vw * 9/16);
    }
}

@media (max-width: $screen-sm-max) {
    p {
        @include font($size: 18px, $weight: 400, $family: $font-family-base);
    }

    em,
    li,
    li a {
        @include font($size: 18px, $weight: 500, $family: $font-family-base);
    }
}
