<%- partial('_partial/home/hero/index') %>
<%- partial('_partial/home/about/index') %>
<%- partial('_partial/home/castracao/index') %>
<%- partial('_partial/home/acoes/index') %>
<%- partial('_partial/home/comoajudar/index') %>
<%- partial('_partial/home/apoios/index') %>
<%- partial('_partial/home/contact/index') %>
