<%# Favicon %>

  <link rel="icon" type="image/png" sizes="192x192"  href="/logos/cropped-Logo-img2-192x192.png">
  <link rel="shortcut icon" href="/logos/cropped-Logo-img2-192x192.png" type="image/png">
