<!-- BEGIN HEAD -->
<head>

  <%- partial('common') %>
  <%- partial('title') %>
  <%- partial('description') %>
  <%- partial('favicon') %>
  <%- partial('fonts') %>
  <%- partial('styles') %>
  <%- partial('tracking') %>

</head>
<!-- END HEAD -->
