
<%
// adds default data usign "theme/aircv/scripts/default-data.js" helper
let apoios = (site.data.apoios !== undefined) ? site.data.apoios : defaultData('apoios');
%>

<!-- About -->
<div id="apoios">
  <div class="container content-lg">
      <div class="row">
          <div class="col-sm-3 sm-margin-b-30">
              <div class="text-right sm-text-left">
                  <h2 class="margin-b-0"><%- apoios.title %></h2>
              </div>
          </div>
          <div class="col-sm-8 col-sm-offset-1">
              <div class="margin-b-60">
                <p><%- apoios.description %></p>
                <p><a href="<%- apoios.link1 %>"><img src="<%- apoios.apoio1 %>" /></a></p>
              </div>


          </div>
      </div>
      <!--// end row -->
  </div>
</div>
<!-- End About -->
